{
  "plugins": [
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ],
    "presets": [
    ["env", {
        "targets": {
        "node": "current"
        }
    }],
    "flow",
    "react"
    ]
}
