
// _font-face.scss

// Variables
// ----------

$app-font-path: '../fonts/';

// Mixin
// ------

@mixin font-face($font-family, $font-path, $font-filename, $font-style, $font-weight, $woff2: true) {
  @font-face {
    font-family: quote($font-family);
    font-stretch: normal;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('#{$app-font-path}#{$font-path}#{$font-filename}.eot');

    @if $woff2 {
      src: url('#{$app-font-path}#{$font-path}#{$font-filename}.eot?#iefix') format('embeddedopentype'),
           url('#{$app-font-path}#{$font-path}#{$font-filename}.woff2') format('woff2'),
           url('#{$app-font-path}#{$font-path}#{$font-filename}.woff') format('woff');
    } @else {
      src: url('#{$app-font-path}#{$font-path}#{$font-filename}.eot?#iefix') format('embeddedopentype'),
           url('#{$app-font-path}#{$font-path}#{$font-filename}.woff') format('woff');
    }
  }
}
