
// File:    _position.scss
// Purpose: Shorthand for position values

@mixin position($top, $right, $bottom, $left, $position) {
  bottom: $bottom;
  left: $left;
  position: $position;
  right: $right;
  top: $top;
}

@mixin position-all($value, $position) {
  @include position($value, $value, $value, $value, $position);
}
