{
  "env": {
    "production": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        ["transform-decorators-legacy"]
      ]
    },
    "development": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        ["react-hot-loader/babel"],
        ["transform-decorators-legacy"]
      ]
    },
    "test": {
      "presets": ["react"],
      "plugins": [
        ["transform-class-properties"],
        ["transform-export-extensions"],
        ["transform-object-rest-spread"],
        ["transform-decorators-legacy"],
        ["transform-class-properties"],
        ["transform-es2015-modules-commonjs"],
        ["transform-es2015-destructuring"],
        ["transform-es2015-classes"]
      ]
    }
  }
}
