{
  "presets": ["react"],
  "plugins": [
    ["transform-es2015-destructuring"],
    ["transform-es2015-modules-commonjs"],
    ["transform-export-extensions"],
    ["transform-class-properties"],
    ["transform-object-rest-spread"],
    ["transform-decorators-legacy"],
    ["react-hot-loader/babel"]
  ]
}
