.circleci
.git
.github
.husky
.vscode
docs
node_modules
packages
scripts
static

.DS_Store
.idea/
dev/
.prettierrc
*.env
*.log
.awcache/
.heapprofile
.heapsnapshot
.history/
pgBackup/
coverage/
dump.rdb
rethinkdb_data/
rethinkdb_dump_*
schema.graphql
scratch/

self-hosted/
stats.json
storybook-static/
test-report.xml
webpack-assets.json
