.git
.vscode
.DS_Store
.idea/
.github
.circleci
.husky
docs

dev/
.prettierrc
*.env
*.log

.awcache/
.heapprofile
.heapsnapshot
.history/
pgBackup/
coverage/
dump.rdb
rethinkdb_data/
rethinkdb_dump_*
schema.graphql
scratch/

self-hosted/
stats.json
storybook-static/
test-report.xml
webpack-assets.json
