# build/
# dist/
# node_modules/
# packages/client/__generated__
# package-lock.json
# packages/server/postgres/queries/generated
# packages/server/types/githubTypes.ts
# packages/server/types/gitlabTypes.ts
# packages/server/graphql/private/resolverTypes.ts
# packages/server/graphql/public/resolverTypes.ts
# packages/server/types/gitlabTypes.ts
# packages/server/types/githubTypes.ts
# queryMap.json
# scripts/toolbox/*
# **/__generated__/

.git
.vscode
.DS_Store
.idea/
.github
.circleci
.husky
docs

dev/
.prettierrc
*.env
*.log

.awcache/
.heapprofile
.heapsnapshot
.history/
pgBackup/
coverage/
dump.rdb
rethinkdb_data/
rethinkdb_dump_*
schema.graphql
scratch/

self-hosted/
stats.json
storybook-static/
test-report.xml
webpack-assets.json
