# SERVER CONFIG
HOST='localhost'
PORT='3000'
PROTO='http'
SERVER_SECRET='key_SERVER_SECRET'
# Cluster node number 0 - 1023. Must be unique per process.
SERVER_ID='1'
# Used to read the client IP from the X-Forwarded-For header, if not set, it will use the first IP in the list.
# If configured, it must match the number of proxies in the stack, otherwise it might rate limit all traffic coming from the proxy.
# TRUSTED_PROXY_COUNT='1'
# Websocket port for the websocket server, only used in development
SOCKET_PORT='3001'
HOCUS_POCUS_PORT='3003'

# AI MODELS
AI_EMBEDDING_MODELS='[{"model": "text-embeddings-inference:llmrails/ember-v1", "url": "http://localhost:3040/"}]'
AI_GENERATION_MODELS='[{"model": "text-generation-inference:TheBloke/zephyr-7b-beta", "url": "http://localhost:3050/"}]'
AI_EMBEDDER_WORKERS='1'

# APPLICATION
# AMPLITUDE_WRITE_KEY='key_AMPLITUDE_WRITE_KEY'
# Enter a short url redirect service for invitations, it needs to redirecto to /invitation-link
# INVITATION_SHORTLINK='example.com'
# If true, all new orgs will default to being enterprise tier. Use for PPMIs
# IS_ENTERPRISE=false
# PPMI single tenant use only. Will set the SAML issuer to this value.
# SAML_ISSUER=''

# AUTHENTICATION
# AUTH_INTERNAL_DISABLED='false'
# AUTH_GOOGLE_DISABLED='false'
# AUTH_MICROSOFT_DISABLED='false'
# AUTH_SSO_DISABLED='false'
# GOOGLE_OAUTH_CLIENT_ID=''
# GOOGLE_OAUTH_CLIENT_SECRET=''
# URL to a microservice that links 1 oauth2 integration to multiple parabol instances on different hosts. If missing, uses the app route /auth/service
# OAUTH2_REDIRECT=''
# could be a specific tenant for on premise installs
# MICROSOFT_TENANT_ID='common'
# MICROSOFT_CLIENT_ID=''
# MICROSOFT_CLIENT_SECRET=''

# AWS
# AWS_ACCESS_KEY_ID='key_AWS_ACCESS_KEY_ID'
# AWS_REGION='key_AWS_REGION'
# AWS_SECRET_ACCESS_KEY='key_AWS_SECRET_ACCESS_KEY'
# AWS_S3_BUCKET='key_AWS_BUCKET'

# MONITORING
# SENTRY_DSN='key_SENTRY_DSN'

# CDN SETTINGS
CDN_BASE_URL=''
# FILE_STORE_PROVIDER: local | s3 | gcs
FILE_STORE_PROVIDER='local'
# Google Cloud credentials are required to use FILE_STORE_PROVIDER='gcs'
# GOOGLE_GCS_BUCKET='BUCKET_NAME'

# WEB SERVER
# Time window, in seconds, used by the web server to kick its users off. If empty or not declared it defaults to 60.
# WEB_SERVER_RECONNECT_WINDOW='60'

# CHRONOS
# Optional. Used to log each tick of chronos to the console.
# CHRONOS_DEBUG='true'
# Optional. Used to broadcast signups/logins to slack.
CHRONOS_PULSE_EMAIL=''
CHRONOS_PULSE_CHANNEL=''
CHRONOS_PULSE_DAILY='0 0 4 * * *'
CHRONOS_PULSE_WEEKLY='0 0 4 * * 1'
# Required. See sendBatchNotificationEmails
CHRONOS_BATCH_EMAILS='0 0 10 * * *'
# Required. See runScheduledJobs
CHRONOS_SCHEDULE_JOBS='0 */10 * * * *'
# Required if using Jira. See updateOAuthRefreshTokens
CHRONOS_UPDATE_TOKENS='0 0 0 1,15 * *'
# Required if using standups. See processRecurrence
CHRONOS_PROCESS_RECURRENCE='0 */5 * * * *'
# Required. See autopauseUsers
CHRONOS_AUTOPAUSE='0 0 5 * * *'

# DATABASES
POSTGRES_PASSWORD=parabol
POSTGRES_USER=pgparaboladmin
POSTGRES_DB=parabol-saas
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USE_PGVECTOR=true
# POSTGRES_POOL_SIZE=5
# POSTGRES_SSL_REJECT_UNAUTHORIZED=false
# POSTGRES_SSL_DIR='/var/lib/postgresql'
REDIS_PASSWORD=''
REDIS_URL='redis://localhost:6379'
# REDIS_TLS_CERT_FILE=./docker/stacks/development/redis/certs/redis.crt
# REDIS_TLS_KEY_FILE=./docker/stacks/development/redis/certs/redis.key
# REDIS_TLS_CA_FILE=./docker/stacks/development/redis/certs/redisCA.crt
# REDIS_TLS_REJECT_UNAUTHORIZED='false'

# DATADOG DD-Trace
# https://ddtrace.readthedocs.io/en/stable/configuration.html
# DD_APM_ENABLED='false'
# DD_API_KEY=''
# DD_APPLICATIONID=''
# DD_APPSEC_ENABLED='true'
# DD_CLIENTTOKEN=''
# DD_ENV=''
# DD_LOGS_INJECTION='true'
# DD_RUNTIME_METRICS_ENABLED='true'
# DD_SERVICE='DD_SERVICE_NAME'
# DD_TRACE_AGENT_URL='http://localhost:8126'
# DD_TRACE_ENABLED='false'

# GOOGLE
# Google Analytics Tracking ID
# GA_TRACKING_ID=''
# GOOGLE_CLOUD_CLIENT_EMAIL=''
# GOOGLE_CLOUD_PRIVATE_KEY=''
# GOOGLE_CLOUD_PRIVATE_KEY_ID=''
# Google Cloud credentials are required to use the GCP Natural Language API.
# Disable Google Cloud Natural Language API for generating retro group titles
# DISABLE_GOOGLE_CLOUD_NATURAL_LANGUAGE='true'

# INTEGRATIONS
# ATLASSIAN_CLIENT_ID='key_ATLASSIAN_CLIENT_ID'
# ATLASSIAN_CLIENT_SECRET='key_ATLASSIAN_CLIENT_SECRET'
# AZURE_DEVOPS_CLIENT_ID=''
# AZURE_DEVOPS_CLIENT_SECRET=''
# GITHUB_CLIENT_ID='key_GITHUB_CLIENT_ID'
# GITHUB_CLIENT_SECRET='key_GITHUB_CLIENT_SECRET'
# GITLAB_CLIENT_ID='key_GITLAB_CLIENT_ID'
# GITLAB_CLIENT_SECRET='key_GITLAB_CLIENT_SECRET'
# GITLAB_SERVER_URL='https://gitlab.com'
# HUBSPOT_API_KEY=''
# HUBSPOT_SALES_PIPELINE_ACTIVE_STAGES=''
# HUBSPOT_SALES_PIPELINE_ID=''
# LINEAR_CLIENT_ID=''
# LINEAR_CLIENT_SECRET=''
# OPEN_AI_API_KEY=''
# OPEN_AI_ORG_ID=''
# RECALL_AI_KEY=''
# SLACK_CLIENT_ID='key_SLACK_CLIENT_ID'
# SLACK_CLIENT_SECRET='key_SLACK_CLIENT_SECRET'
# STRIPE_SECRET_KEY=''
# STRIPE_PUBLISHABLE_KEY=''
# STRIPE_WEBHOOK_SECRET=''
# Disable the built in Mattermost webhook integration
# MATTERMOST_DISABLED='false'
# For private instances with SSO and the Mattermost plugin, set the secret and URL
# MATTERMOST_SECRET='key_MATTERMOST_SECRET'
# MATTERMOST_URL='https://mattermost.example.com'
# MSTEAMS_DISABLED='false'

# MAIL
# MAIL GLOBALS. PROVIDER: mailgun | google | debug | smtp
MAIL_PROVIDER='debug'
# MAIL_FROM='key_MAIL_FROM'
# MAILGUN_API_KEY='key_MAILGUN_API_KEY'
# MAILGUN_DOMAIN='key_MAILGUN_DOMAIN'
# MAIL_GOOGLE_USER='key_MAIL_GOOGLE_USER'
# MAIL_GOOGLE_PASS='key_MAIL_GOOGLE_PASS'
# MAIL_SMTP_HOST='key_MAIL_SMTP_HOST'
# MAIL_SMTP_PORT=587
# MAIL_SMTP_USER='key_MAIL_SMTP_USER'
# MAIL_SMTP_PASSWORD='key_MAIL_SMTP_PASSWORD'
# MAIL_SMTP_USE_TLS='1' # set to '0' for false
# MAIL_SMTP_CIPHERS='HIGH:MEDIUM:!aNULL:!eNULL:@STRENGTH:!DH:!kEDH'

# GLOBAL BANNER
# GLOBAL_BANNER_ENABLED='true'
# GLOBAL_BANNER_TEXT='UNCLASSIFIED CUI (IL4)'
# GLOBAL_BANNER_BG_COLOR='#007A33'
# GLOBAL_BANNER_COLOR='#FFFFFF'

# gifabol | tenor | '' to hide gif selection tab
# GIF_PROVIDER=tenor
# TENOR_SECRET=''

#
# DEVELOPER VARIABLES
#

# CI='true'
# ULTRAHOOK_API_KEY='key_ULTRAHOOK_API_KEY'

# Only run these apps in development. Leave empty to run all. CSV format
DEV_RUN_ONLY="Webpack Servers,Socket Server,Embedder,Dev Server,Flush Redis,PG Migrations,Relay Compiler,GraphQL Codegen,Kysely Codegen,PG Typed,Mattermost Relay Compiler,Mattermost Plugin Dev Server"

# PGAdmin - used only with `db:start` command
PGADMIN_DEFAULT_EMAIL='pgadmin4@pgadmin.org'
PGADMIN_DEFAULT_PASSWORD='admin'
