
# global container options
HOST=localhost
PORT=3000
PROTO=http

# configuration options
## increase by 1 every ~2 years
INVITE_TOKEN_KEY_HASH_ROUNDS=12

# external services
AUTH0_CLIENT_ID="w3mBrhiXGsE3DsrSMgpAz2bS6VzLhOyJ"
AUTH0_CLIENT_SECRET="BksPeQQrRkXhDrugzQDg5Nw-IInub9RkQ-pSWohUM9s6Oii4xoGVCrK2_OcUCfYZ"
AUTH0_DOMAIN="parabol.auth0.com"
AUTH0_MANAGEMENT_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ3M21CcmhpWEdzRTNEc3JTTWdwQXoyYlM2VnpMaE95SiIsInNjb3BlcyI6eyJ1c2VycyI6eyJhY3Rpb25zIjpbInVwZGF0ZSJdfSwidXNlcnNfYXBwX21ldGFkYXRhIjp7ImFjdGlvbnMiOlsicmVhZCIsInVwZGF0ZSIsImRlbGV0ZSIsImNyZWF0ZSJdfX0sImlhdCI6MTQ3MTYxOTUxOSwianRpIjoiOTlhZWMwOGMwNTU4MmFhMjg2MmZhMmNjNzk2YjQwODIifQ.f08OPPuvDQOaH6avwxKA9gHafpScF3pWYGfun7GkbDs"

GRAPHQL_HOST=localhost:3000
GRAPHQL_PROTOCOL=http

MAILGUN_API_KEY="key-42424242424242424242424242424242"
MAILGUN_DOMAIN="mail.parabol.co"
MAILGUN_FROM="action@mail.parabol.co"

RETHINKDB_URL=rethinkdb://localhost:28015/actionDevelopment
RETHINKDB_SSL=false

SEGMENT_WRITE_KEY="rKdQ0ZHoyoBEJ3X2kMDV2uJl46Ayby3g"
