{
  "extends": [
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "eslint-config-airbnb/base",
    "eslint-config-airbnb/rules/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": [
      2,
      "always"
    ],
    "babel/generator-star-spacing": 0,
    "global-require": 0,
    "import/default": 0,
    "import/extensions": [
      2,
      "never",
      {"json": "always"}
    ],
    "import/first": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "comma-dangle": 0,
    "id-length": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-alert": 0,
    "no-console": 0,
    "no-continue": 0,
    "no-mixed-operators": 0,
    "no-multi-assign": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "max-len": [
      1,
      140,
    ],
    "object-curly-spacing": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-space-before-closing": 0,
    "react/no-multi-comp": 0,
    "react/no-unused-prop-types": 0,
    "react/require-default-props": 0
  },
  "plugins": [
    "import",
    "jest",
    "react",
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "webpack/prod.babel.js"
      }
    },
    "import/ignore": [
      ".scss$",
      ".css$",
      ".svg$"
    ]
  },
  "globals": {
    "__PRODUCTION__": true,
    "__CLIENT__": true,
    "__WEBPACK__": true,
    "socket": true
  }
}
