packages/client/__generated__/*
packages/client/types/graphql.ts
packages/client/serviceWorker/*
packages/server/database
packages/server/segmentFns/SegmentFnHubspot.ts
packages/server/segmentFns/hubSpotProperties.ts
