**/__generated__/
*.log
.DS_Store
.awcache/
.env
.googlecloudkey.json
.history/
.idea/
build/
coverage/
cypress/screenshots/
cypress/videos/
dll/
dump.rdb
node_modules/
package-lock.json
packages/server/graphql/queryMap.json
rethinkdb_data/
rethinkdb_dump_*
schema.graphql
scratch/
stats.json
storybook-static/
test-report.xml
webdrivers/
webpack-assets.json
