**/__generated__/
*.env
*.log
.DS_Store
.awcache/
.heapprofile
.heapsnapshot
.history/
.idea/
pgBackup/
build/
coverage/
dev/
dist/
dump.rdb
node_modules/
package-lock.json
packages/server/types/githubTypes.ts
packages/server/types/gitlabTypes.ts
packages/server/graphql/private/resolverTypes.ts
packages/server/graphql/public/resolverTypes.ts
packages/server/types/gitlabTypes.ts
packages/server/types/githubTypes.ts
queryMap.json
rethinkdb_data/
rethinkdb_dump_*
schema.graphql
scratch/
scripts/toolbox/*
self-hosted/
stats.json
storybook-static/
test-report.xml
webpack-assets.json
.vercel
