{
  "arrowParens": "always",
  "bracketSpacing": false,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./packages/client/styles/theme/global.css",
  "tailwindFunctions": ["clsx", "cn", "twMerge"],
  "tailwindConfig": "./tailwind.config.js"
}
