@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/static/fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('static/fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

/** Global styles - https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
@layer base {
  /**
    bg is important since we do a slide up animation we don't want the background to slide up, too
    I dislike overflow immensely, but required to
    1) not have a bunch of white space below the app on mobile
    2) prevent a horizontal scrollbar from causing a vertical scrollbar due to the 100vh
  */
  #root {
    @apply m-0 h-screen w-full bg-slate-200 p-0;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT'); 
  }

  html {
    @apply text-[16px];
  }

  body {
    @apply m-0 p-0 font-sans text-[16px] font-normal leading-[normal] text-slate-700 antialiased;
  }

  a {
    @apply text-slate-700;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    @apply text-grape-700;
    text-decoration: none;
  }

  input {
    @apply antialiased;
  }

  textarea {
    @apply antialiased;
  }

  img {
    @apply max-w-full;
  }

  p {
    @apply p-0;
  }

  pre {
    @apply max-w-full overflow-auto;
  }

  b {
    @apply font-semibold;
  }

  strong {
    @apply font-semibold;
  }

  ::placeholder {
    @apply text-slate-600;
  }

  ::-webkit-input-placeholder {
    @apply text-slate-600;
  }

  :-ms-input-placeholder {
    @apply text-slate-600;
  }

  @media print {
    html,
    body {
      font-size: 14px !important;
    }
    .hide-print {
      display: none !important;
    }
  }

  /*::-webkit-scrollbar {
    -webkit-appearance: none;
    width:6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius:3px;
    background-color:rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background:rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0, 0, 0, 0.2);
  }*/
}

/** Customize daypicker styles */
.rdp {
  @apply m-[8px];
  --rdp-cell-size: 36px;
  --rdp-accent-color: theme(colors.grape.500);
  --rdp-background-color: theme(colors.grape.500 / 30%);
  --rdp-accent-color-dark: theme(colors.grape.500);
  --rdp-background-color-dark: theme(colors.grape.500 / 30%);
}

/** Customize draft-js */
.draft-blockquote {
  @apply my-[8px] mx-0 border-l-2 border-solid border-l-slate-500 px-[8px] py-0 italic;
}

.draft-codeblock {
  @apply m-0 rounded-[1px] border-l-2 border-solid border-l-slate-500 bg-slate-200 py-0 px-[8px] font-mono font-[13px] leading-normal;
}
