
// Variables
// ----------

@import '../../theme/variables';

$StatusNavItem-fontSize-sm: $font-size-s6;
$StatusNavItem-fontSize-lg: $font-size-base;

$StatusNavItem-gutterLeft-sm: $drawer-gutterLeft-sm;
$StatusNavItem-gutter-lg: $drawer-gutter-lg;

$StatusNavItem-icon-boxSize: 2rem;

// Elements
// ---------

.item {
  border-radius: 0 .25rem .25rem 0;
  color: $ui-white;
  font-size: $StatusNavItem-fontSize-sm;
  height: 2rem;
  line-height: 2rem;
  margin: 0 0 .5rem;
  padding: 0 0 0 $StatusNavItem-gutterLeft-sm;
  position: relative;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: rgba($theme-c, .5);
    cursor: pointer;
  }

  @media #{$mq-lg-min} {
    font-size: $StatusNavItem-fontSize-lg;
    padding-left: $StatusNavItem-gutter-lg;
  }
}

.itemActive {
  // scss-lint:disable PropertySpelling, PropertySortOrder
  composes: item;
  // scss-lint:enable PropertySpelling, PropertySortOrder
  background-color: $theme-c;

  &:hover,
  &:focus {
    background-color: $theme-c;
    cursor: default;
  }
}

.badge {
  background-color: $theme-b;
  border-radius: 4em;
  font-size: $font-size-s7;
  font-weight: 700;
  height: 1rem;
  line-height: 1rem;
  padding: 0 .5rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.icon {
  font-size: $font-size-s6;
  height: $StatusNavItem-icon-boxSize;
  left: 0;
  line-height: $StatusNavItem-icon-boxSize;
  position: absolute;
  text-align: center;
  width: $StatusNavItem-icon-boxSize;

  @media #{$mq-lg-min} {
    left: ($StatusNavItem-gutter-lg - $StatusNavItem-icon-boxSize);
  }
}
