@charset 'utf-8';

html {
  font-size: 16px;
}

body {
  font-size: 16px;
}

// Variables
// ----------
@import '../variables/all_variables';

// Mixins
// -------
@import '../mixins/all_mixins';
@include make-theme-utility-classes;

// Tachyons
// ---------
$breakpoint-not-small: 'screen and (min-width: 30rem)' !default;
$breakpoint-medium: 'screen and (min-width: 30rem) and (max-width: 60rem)' !default;
$breakpoint-large: 'screen and (min-width: 60rem)' !default;
$breakpoint-extra-large: 'screen and (min-width: 120rem)' !default;
@import '~tachyons-sass/tachyons';

// Patterns
// ---------
@import '../patterns/all_patterns';
