<!DOCTYPE html>
<html>
  <head>
    <title>Action</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/app.css">
  </head>

  <body>
    <div class="app-viewport" id="app"></div>
    <div id="server-data"><% /* body */ %></div>

    <script src="/assets/js/dependencies/sails.io.js"></script>
    <script src="/assets/js/app.js"></script>
</html>
