
// _bs-brand.scss

$brand-primary:         $slate-grey;
$brand-success:         $dark-cyan;
$brand-info:            $greyblue;
$brand-warning:         $darkish-pink;
$brand-danger:          $darkish-pink;
