@font-face {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-family: Karla;
  src: url('/static/fonts/fonts/Karla-regular.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  font-family: Karla;
  src: url('/static/fonts/fonts/Karla-italic.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  font-family: Karla;
  src: url('/static/fonts/fonts/Karla-700.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  font-family: Karla;
  src: url('/static/fonts/fonts/Karla-700italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-family: Merriweather;
  src: url('/static/fonts/fonts/Merriweather-regular.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  font-family: Merriweather;
  src: url('/static/fonts/fonts/Merriweather-italic.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  font-family: Merriweather;
  src: url('/static/fonts/fonts/Merriweather-700.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  font-family: Merriweather;
  src: url('/static/fonts/fonts/Merriweather-700italic.woff2') format('woff2');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #08070a; /*dark10d*/
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

a {
  color: #098d8f; /*cool */
  text-decoration: none;
}

a:hover,
a:focus {
  color: #006769; /*cool darkened 15%*/
  text-decoration: underline
}

input {
  font-family: 'Karla', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  color: #a7a4af;
}

::-moz-placeholder {
  color: #a7a4af;
}

:-ms-input-placeholder {
  color: #a7a4af;
}

:-moz-placeholder {
  color: #a7a4af;
}
