
// _font-size.scss

// Variables

@import '../variables.scss';

// Components

.font-size-s1 {
  font-size: $font-size-s1;
}

.font-size-s2 {
  font-size: $font-size-s2;
}

.font-size-s3 {
  font-size: $font-size-s3;
}

.font-size-s4 {
  font-size: $font-size-s4;
}

.font-size-s5 {
  font-size: $font-size-s5;
}

.font-size-s6 {
  font-size: $font-size-s6;
}

.font-size-s7 {
  font-size: $font-size-s7;
}
