
// _headings.scss

// Variables

@import '../variables.scss';

// Components

.heading-s1 {
  font-size: $heading-s1;
}

.heading-s2 {
  font-size: $heading-s2;
}

.heading-s3 {
  font-size: $heading-s3;
}

.heading-s4 {
  font-size: $heading-s4;
}

.heading-s5 {
  font-size: $heading-s5;
}

.heading-s6 {
  font-size: $heading-s6;
}

.heading-s7 {
  font-size: $heading-s7;
}
