
// _z-index.scss

.zi-1 {
  z-index: $zi-1;
}

.zi-2 {
  z-index: $zi-2;
}

.zi-3 {
  z-index: $zi-3;
}

.zi-4 {
  z-index: $zi-4;
}

.zi-5 {
  z-index: $zi-5;
}

.zi-6 {
  z-index: $zi-6;
}

.zi-7 {
  z-index: $zi-7;
}

.zi-8 {
  z-index: $zi-8;
}

.zi-9 {
  z-index: $zi-9;
}

.zi-10 {
  z-index: $zi-10;
}

.zi-11 {
  z-index: $zi-11;
}

.zi-12 {
  z-index: $zi-12;
}

.zi-13 {
  z-index: $zi-13;
}

.zi-14 {
  z-index: $zi-14;
}

.zi-15 {
  z-index: $zi-15;
}

.zi-16 {
  z-index: $zi-16;
}

.zi-17 {
  z-index: $zi-17;
}

.zi-18 {
  z-index: $zi-18;
}

.zi-19 {
  z-index: $zi-19;
}

.zi-20 {
  z-index: $zi-20;
}
