
// _brand.scss

// Note: Use only to assign theme colors
// See:  _theme.scss

///////////////
// Palette T4b
///////////////

// See: Color Palette T4b on zeplin.io

// Note: Using the original name from Zeplin
//       for the Sass variables. The short name
//       for reference is in the comments.

// Brand colors
// -------------

$slate-grey:    #4e495f; // Slate
$greyblue:      #676c8a; // Purple
$darkish-pink:  #c62575; // Pink
$egg-shell:     #fffcc6; // Cream
$dark-cyan:     #098d8f; // Teal
