
// _z-index.scss

// Scale for z-index
// ------------------

$zi-1:   100;
$zi-2:   200;
$zi-3:   300;
$zi-4:   400;
$zi-5:   500;
$zi-6:   600;
$zi-7:   700;
$zi-8:   800;
$zi-9:   900;
$zi-10: 1000;
$zi-11: 1100;
$zi-12: 1200;
$zi-13: 1300;
$zi-14: 1400;
$zi-15: 1500;
$zi-16: 1600;
$zi-17: 1700;
$zi-18: 1800;
$zi-19: 1900;
$zi-20: 2000;
