/* DayPicker styles */

.DayPicker {
    display: inline-block;
}

.DayPicker-wrapper {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 1rem;
    flex-direction: row;
    outline: none;
}

.DayPicker-Months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DayPicker-Month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 1rem;
    margin-top: 1rem;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1.5rem;
    margin-top: 2px;
    outline: none;
    color: #82809A;
    width: 1.25rem;
    height: 1.25rem;
}

.DayPicker-NavButton:hover {
    opacity: 0.8;
}

.DayPicker-NavButton--prev {
    left: 0.5rem;
}

.DayPicker-NavButton--prev:before {
    content: "chevron_left";
    font-family: Material Icons;
    position: absolute;
}

.DayPicker-NavButton--next {
    right: 0.5rem;
}

.DayPicker-NavButton--next:before {
    content: "chevron_right";
    font-family: Material Icons;
    position: absolute;
}

.DayPicker-NavButton--interactionDisabled {
    display: none;
}

.DayPicker-Caption {
    padding: 0 0.5rem;
    display: table-caption;
    text-align: center;
    margin-bottom: 0.5rem;
}

.DayPicker-Caption > div {
    font-size: 1.15rem;
    font-weight: 800;
}

.DayPicker-Weekdays {
    margin-top: 1rem;
    display: table-header-group;
}

.DayPicker-WeekdaysRow {
    display: table-row;
}

.DayPicker-Weekday {
    border: 1px solid #F1F0FA;
    display: table-cell;
    padding: 0.5rem;
    font-size: 0.875em;
    font-weight: 800;
    text-align: center;
    color: #444258;
}

.DayPicker-Weekday abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

.DayPicker-Body {
    display: table-row-group;
}

.DayPicker-Week {
    display: table-row;
}

.DayPicker-Day {
    border: 1px solid #F1F0FA;
    display: table-cell;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

.DayPicker-WeekNumber {
    display: table-cell;
    padding: 0.5rem;
    text-align: right;
    vertical-align: middle;
    min-width: 1rem;
    font-size: 0.75em;
    cursor: pointer;
    color: #444258;
    border-right: 1px solid #eaecec;
}

.DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
}

.DayPicker-Footer {
    padding-top: 0.5rem;
}

.DayPicker-TodayButton {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    color: #444258;
    font-size: 0.875em;
}

/* Default modifiers */

.DayPicker-Day--today {
    color: #FD6157;
    font-weight: 700;
}

.DayPicker-Day--outside {
    cursor: default;
    color: #8b9898;
}

.DayPicker-Day--disabled {
    color: #dce0e0;
    cursor: default;
    /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
    background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
    color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    color: #FFFFFF;
    background-color: #493272;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: #8869C2;
}

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #F1F0FA;
}

/* DayPickerInput */

.DayPickerInput {
    display: inline-block;
}

.DayPickerInput-OverlayWrapper {
    position: relative;
}

.DayPickerInput-Overlay {
    left: 0;
    z-index: 1;
    position: absolute;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
