
// Variables
// ----------

@import '../../theme/variables';

// Elements
// ---------

.root {
  background-color: $theme-c;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

.main {
  background-color: $ui-white;
  flex: 1;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding-left: 3rem;
  width: 100%;

  @media #{$mq-xl-min} {
    padding-left: 320px;
  }
}
