// Brand colors
// -------------

$slate-grey:    #4e495f; // Slate
$greyblue:      #676c8a; // Purple
$darkish-pink:  #c62575; // Pink
$egg-shell:     #fffcc6; // Cream
$dark-cyan:     #098d8f; // Teal

// Theme colors
// -------------

$theme-cool:  $dark-cyan !default;
$theme-a:     $theme-cool !default;

$theme-warm:  $darkish-pink !default;
$theme-b:     $theme-warm !default;

$theme-dark:  $slate-grey !default;
$theme-c:     $theme-dark !default;

$theme-mid:   $greyblue !default;
$theme-d:     $theme-mid !default;

$theme-light: $egg-shell !default;
$theme-e:     $theme-light !default;

// UI colors
// ----------

$ui-black: #000;
$ui-white: #fff;

$ui-darkest: #333;
$ui-darker: #555;
$ui-dark: #777;

$ui-lightest: #eee;
$ui-lighter: #ccc;
$ui-light: #aaa;

// Layout
// -------

$drawer-width-sm: 208px;
// $drawer-width-lg: 320px;
$drawer-width-lg: 280px;

$drawer-gutterLeft-sm: 2rem;
$drawer-gutterRight-sm: .875rem;
$drawer-gutter-lg: 2.5rem;

// Border radius
// --------------

$border-radius-sm: .125rem;
$border-radius-md: .25rem;
$border-radius-lg: .5rem;

// Media queries
// --------------

$mq-xs-min: 'screen and (min-width: 480px)';
$mq-sm-min: 'screen and (min-width: 600px)';
$mq-md-min: 'screen and (min-width: 768px)';
$mq-lg-min: 'screen and (min-width: 1024px)';
$mq-xl-min: 'screen and (min-width: 1280px)';

$mq-menuDrawer-hidden-max: 'screen and (max-width: 767px)';
$mq-menuDrawer-visible-min: 'screen and (min-width: 768px)';

$mq-userDrawer-hidden-max: 'screen and (max-width: 1399px)';
$mq-userDrawer-visible-min: 'screen and (min-width: 1400px)';

// Font size
// ----------
// Based on 1rem being 16px

$font-size-base: 1rem;    // 16px
$font-size-s1: 3rem;      // 48px
$font-size-s2: 2.25rem;   // 36px
$font-size-s3: 1.5rem;    // 24px
$font-size-s4: 1.25rem;   // 20px
$font-size-s5: 1.125rem;  // 18px
$font-size-s6: .875rem;   // 14px
$font-size-s7: .8125rem;  // 13px

// Headings
// ---------
// Based on 1rem being 16px

$heading-s1: 3rem;      // 48px
$heading-s2: 2.25rem;   // 36px
$heading-s3: 1.5rem;    // 24px
$heading-s4: 1.25rem;   // 20px
$heading-s5: 1.125rem;  // 18px
$heading-s6: .875rem;   // 14px
$heading-s7: .8125rem;  // 13px

// Transitions
// ------------

$transition-fast: 'ease-in .2s';
$transition-slow: 'ease-in .4s';

// Custom colors
// --------------
// Todo: Scrub vars (TA)

$cyan: #33e0ff;
$humility: #777;

// Bootstrap variables
// --------------------
// Todo: Scrub vars (TA)

$brand-primary:         $theme-b;
$brand-secondary:       $theme-a;
$brand-success:         $theme-a;
$brand-info:            $theme-c;
$brand-warning:         $theme-b;
$brand-danger:          $theme-b;

$text-color: #333;
$font-size-base: 16px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
