
// Variables
// ----------

@import '../../theme/variables';

// Elements
// ---------

.root {
  color: $ui-white;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
  width: 100%;
}

.logo {
  border: 1px solid $ui-white;
  float: left;
  height: 36px;
  line-height: 34px;
  padding: 0 1em;
}
