name: labeler

on: [pull_request]

permissions:
  pull-requests: write
  contents: read

jobs:
  labeler:
    runs-on: ubuntu-latest
    name: Label the PR size
    steps:
      # There is no progress on https://github.com/CodelyTV/pr-size-labeler/issues/96 so let's switch to the fork instead
      # - uses: codelytv/pr-size-labeler@v1
      - uses: alexisribot/pr-size-labeler@7410ab25f68d95323ceb6fc4b53e8556323b52a7
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: "size/xs"
          xs_max_size: "10"
          s_label: "size/s"
          s_max_size: "100"
          m_label: "size/m"
          m_max_size: "500"
          l_label: "size/l"
          l_max_size: "1000"
          xl_label: "size/xl"
          fail_if_xl: "false"
          message_if_xl: >
            This PR exceeds the recommended size of 1000 lines.
            Please make sure you are NOT addressing multiple issues with one PR.
            Note this PR will be delayed and might be rejected due to its size.
          files_to_ignore: "generated/** pnpm-lock.yaml pg.d.ts"
