name: release-please

on:
  push:
    branches:
      - master
      - hotfix**

permissions:
  pull-requests: write
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v3
        with:
          command: manifest
          default-branch: ${{ github.ref_name}}
          release-type: node
          token: ${{ steps.generate_token.outputs.token }}

      - name: Report Status
        if: failure()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: "failure"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_GH_ACTIONS_NOTIFICATIONS }}
