on:
  push:
    branches:
      # update the current branch to have a try
      - master
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          command: manifest
          default-branch: release-please/bootstrap/default
