name: Mark stale issues

on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Stale issue'
        stale-issue-label: 'stale'
        days-before-stale: 180
        days-before-close: 1825
        exempt-issue-label: 'Help Wanted'
