name: Typecheck

on: [push]

jobs:
  build:
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: "parabol"
          POSTGRES_USER: "pgparaboladmin"
          POSTGRES_DB: "parabol-saas"
          POSTGRES_HOST: "localhost"
          POSTGRES_PORT: "5432"
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16.14.0"
      - name: Typecheck
        run: |
          cp .env.example .env
          yarn
          yarn db:migrate
          yarn pg:migrate up
          yarn pg:build
        env:
          CI: true
          DEBUG: "*,-babel"
