@charset 'utf-8';

// Variables

@import '../../theme/variables.scss';

$AppLayout-paddingHorizontal: $drawer-width-lg;
$AppLayout-heading-fontSize: $heading-s2;

// Elements

html {
  font-size: 16px !important;
}

body {
  font-size: 16px !important;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner {
  flex: 1;
  padding: 1rem ($AppLayout-paddingHorizontal + 16px);
  position: relative;
  width: 100%;
}

.heading {
  font-size: $AppLayout-heading-fontSize;
}
